@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.navbar-heading {
  font-size: 1.7rem !important;
  font-weight: bold;
}

.navbar-link {
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.vh-100 {
  height: 100vh;
}

@media (max-width: 768px) {
  .navbar-heading {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .collapse {
    display: none !important;
  }
}
