.navbar-heading {
  font-size: 1.7rem !important;
  font-weight: bold;
}

.navbar-link {
  font-weight: 700;
  font-size: 1.1rem;
}

.menu-link {
  list-style-type: none;
}

@media (max-width: 768px) {
  .navbar-heading {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .collapse {
    display: none !important;
  }
}
