@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.title-small
{
  font-size: 50px;
}
.title-large
{
  /* style={{ fontWeight: 'bolder',fontSize: '70px' }} */
  font-weight: bolder;
  font-size: 70px;
}
.pic{
  height: 25rem;
}

.navbar-heading {
  font-size: 1.7rem !important;
  font-weight: bold;
}

.navbar-link {
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.vh-100 {
  height: 100vh;
}

.vh-80 {
  height: 80vh;
}

.vh-20 {
  height: 30vh;
}

.about-title {
  font-size: 25px;
  font-weight: bolder;
}

.about-content {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar-heading {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
  .title-small
{
  font-size: 30px;
}
.title-large
{
  /* style={{ fontWeight: 'bolder',fontSize: '70px' }} */
  font-weight: bolder;
  font-size: 100px;
}
  .pic{
    height: 20rem;
  }
}
.font{
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: 768px) {
  .collapse {
    display: none !important;
  }
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 199);
}
button {
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif
}

button:before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite
}

button:hover:before {
  opacity: 1
}

button:hover:active {
  background: none
}

button:hover:active:before {
  filter: blur(2px)
}

@keyframes animate {
  0% {
      background-position: 0 0
  }

  50% {
      background-position: 400% 0
  }

  100% {
      background-position: 0 0
  }
}